.footer-display{
    background-color: black;
    text-align: center;
    color: white;
    height: 60px;
    font-size: 18px;
    padding-top: 10px;
    margin-top: 100px;
}
.footer-color{
    color: rgb(211, 87, 42);
    font-weight: 600;
}